body
{
	font-family: Arial;
	background-color: #f0f0f0;
	justify-content: center;
	align-items: center;
	height: 100vh;
	padding-top: 50px;
	left: 0px;
	margin: 0;
	padding: 0;
}


header h2{
	text-align: center;
	font-size: 30px;
	font-weight: 700;
	margin: bottom;
}

.pseudo {
	display: flex;
	justify-content: center;
	
}

.Mot
{
	display: flex;
	justify-content: center;

}
.connexion
{
	background: white;
	padding: 20px;
	width: 300px;
	border-radius: 8px;
	text-align: center;
	display: flex;
	
}

input
{
	width: 100%;
	padding: 8px;
	margin: 8px 0;
}

button
{
	width: 100%;
	padding: 8px;
	background-color: #760001;
	color: white;
	border: none;
	cursor: pointer;
}

